.img-brain {
  transform: translate(0%, -8.5%);
}

.img-memory {
  transform: translate(0%, -7%);
}

.img-self {
  transform: translate(0%, -18.5%);
}

.rectangle-15 {
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
}

.img-clock {
  position: absolute;
}


.img-alarm {
  position: absolute;
}

.img-stove {
  position: absolute;
  transform: translate(287.5%, -100%);
}

.img-weather {
  position: absolute;
  transform: translate(15%, 35%);
}

.img-doors {
  position: absolute;
  transform: translate(152%, -23%);
}

.img-table {
  position: absolute;
  transform: translate(287.5%, -80%);
}

.img-bed-warmers {
  position: absolute;
  transform: translate(15%, 55%);
}

.img-bath {
  position: absolute;
  transform: translate(152%, -4%);
}

.img-sprinklers {
  position: absolute;
  transform: translate(287.5%, -62%);
}

.img-dish, .img-mice, .img-incen, .img-rat {
  transform: translate(0%, 90%);
}

.rectangle-16 {
  height: 395px;
  width: 2015px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(0%, 108%);
}

.rectangle-17 {
  height: 395px;
  width: 2015px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(0%, 252%);
}

.rectangle-18 {
  height: 395px;
  width: 2015px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(0%, 392%);
}

.rectangle-19 {
  height: 395px;
  width: 2015px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(0%, 492%);
}