.img-dish, .img-mice, .img-incen, .img-rat {
  transform: translate(0%, 90%);
}

.rectangle-17 {
  height: 395px;
  width: 2015px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(0%, 252%);
}

.rectangle-18 {
  height: 395px;
  width: 2015px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(0%, 392%);
}

.rectangle-19 {
  height: 395px;
  width: 2015px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(0%, 492%);
}