* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f8f4e6;
  }

.navbar ul {
    list-style-type: none;
    background-color: #dec7c5;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-style: solid;
    border-color: #ab8885;
    display: flex;
    justify-content: space-around;
  }
.navbar a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
  }
.navbar a:hover {
    background-color: #c6afad;
  }

.footer-container {
    background-color: #ab8885;
    padding-bottom: 4rem;
    border-style: solid;
    border-color: #8d6562;
  }
.footer {
    background-color: #ab8885;
    width: 80%;
    height: 40vh;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
  }
.footer-heading-1 {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
  }
.footer-heading-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
.footer-heading-3 {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
.rect {
    position: absolute;
    top: 75%;
    left: 15%;
    height: 80%;
    width: 70%;
    opacity: 60%;
  }
.centered {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
.searchbar {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-350%);
    border-radius: 25px;
  }
.img {
    width: 100%;
    height: 45%;
  }

.title-details {
    transform: translate(22%);
    }
.title {
        display: flex;
        justify-content: center;
    }
      
.title-below {
        display: flex;
        justify-content: center;
    }
      
.title-2 {
        display: flex;
        justify-content: center;
    }
      
.title-2-p {
        display: flex;
        justify-content: center;
    }
      
.title-3 {
        display: flex;
        justify-content: center;
    }
      
.title-3-p {
        display: flex;
        justify-content: center;
    }
.auto-tech {
        display: flex;
        justify-content: center;
    }
.brain {
        font-size: 30px;
    }
      
.brain-p {
        font-size: 25px;
    }

.memory-tapes {
        font-size: 30px;
    }
.memory-p {
        font-size: 25px;
    }
.memory-p-2 {
        font-size: 25px;
    }

.self {
        font-size: 30px;
    }
      
.self-p {
        font-size: 25px;
    }
.self-p-2 {
        font-size: 25px;
    }

.automated-convenience {
        display: flex;
        justify-content: center;
    }
    
.automated-cleaning {
        display: flex;
        justify-content: center;
    }

.clock {
        font-size: 30px;
    }
.clock-p, .clock-p-2, .clock-p-3 {
        font-size: 25px;
    }

.alarm {
        font-size: 30px;
    }
.alarm-p, .alarm-p-2, .alarm-p-3 {
        font-size: 25px;
    }

.stove {
        font-size: 30px;
    }
.stove-p, .stove-p-2, .stove-p-3 {
        font-size: 25px;
    }

.box {
        font-size: 30px;
    }
.box-p, .box-p-2, .box-p-3 {
        font-size: 25px;
    }

.doors {
        font-size: 30px;
    }
.doors-p, .doors-p-2, .doors-p-3 {
        font-size: 25px;
    }

.table {
        font-size: 30px;
    }
.table-p, .table-p-2, .table-p-3 {
        font-size: 25px;
    }

.beds {
        font-size: 30px;
    }
.beds-p, .beds-p-2, .beds-p-3 {
        font-size: 25px;
    }

.baths {
        font-size: 30px;
    }
.baths-p, .baths-p-2, .baths-p-3 {
        font-size: 25px;
    }

.sprink {
        font-size: 30px;
    }
.sprink-p, .sprink-p-2, .sprink-p-3 {
        font-size: 25px;
    }

.dish {
        font-size: 30px;
    }
.dish-p, .dish-p-2 {
        font-size: 25px;
    }
      
.mice {
        font-size: 30px;
    }
.mice-p {
        font-size: 25px;
    }

.incen {
        font-size: 30px;
    }
      
.incen-p {
        font-size: 25px;
    }
      
.rat {
        font-size: 30px;
    }
.rat-p {
        font-size: 25px;
    }
      
.fire-alarm {
        font-size: 30px;
    }
.fire-alarm-p {
        font-size: 25px;
    }
      
.water {
        font-size: 30px;
    }
.water-p {
        font-size: 25px;
    }
      
.water-rats {
        font-size: 30px;
    }
.water-rats-p {
        font-size: 25px;
    }
      
.robot {
        font-size: 30px;
    }
.robot-p {
        font-size: 25px;
    }
      
.snakes {
        font-size: 30px;
    }
.snakes-p {
        font-size: 25px;
    }
      
.fireplace {
        font-size: 30px;
    }
.fireplace-p {
        font-size: 25px;
    }
      
.poem {
        font-size: 30px;
    }
.poem-p {
        font-size: 25px;
    }
      
.music {
        font-size: 30px;
    }
.music-p {
        font-size: 25px;
    }
      
.chairs {
        font-size: 30px;
    }
.chairs-p {
        font-size: 25px;
    }
      
.glass {
        font-size: 30px;
    }
.glass-p {
        font-size: 25px;
    }
      
.media {
        font-size: 30px;
    }
.media-p {
        font-size: 25px;
    }

.safety-p {
    display: flex;
    justify-content: center;
}

.addins {
    display: flex;
    justify-content: center;
}

.addins-n {
    display: flex;
    justify-content: center;
}

.rectangle-1 {
        background-color: #cadde3;
        border-style: solid;
        border-color: #9fb5bc;
        height: 8%;
        width: 100%;
        z-index: -1;
        position: absolute;
        }

.rectangle-2 {
    background-color: #cadde3;
    border-style: solid;
    border-color: #9fb5bc;
    height: 8%;
    width: 100%;
    z-index: -1;
    position: absolute;
    bottom: 20%;
    left: 0%;
}

.rectangle-3 {
    background-color: #cadde3;
    border-style: solid;
    border-color: #9fb5bc;
    height: 8%;
    width: 100%;
    z-index: -1;
    position: absolute;
}