* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f8f4e6;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

.navbar ul {
    list-style-type: none;
    background-color: #dec7c5;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-style: solid;
    border-color: #ab8885;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
.navbar a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
  }
.navbar a:hover {
    background-color: #c6afad;
  }

.footer-container {
    background-color: #ab8885;
    border-style: solid;
    border-color: #8d6562;
}
.footer {
    background-color: #ab8885;
    position: absolute;
    width: 100%;
    height: 30%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.footer-heading-1 {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4rem;
    width: 15%;
  }
.footer-heading-2 {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
.footer-heading-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: black;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
.rect {
    position: absolute;
    top: 75%;
    left: 15%;
    height: 80%;
    width: 70%;
    opacity: 60%;
  }
.centered {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
.searchbar {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-350%);
    border-radius: 25px;
  }
.img {
    width: 100%;
    height: 45%;
  }

.title-details {
    text-indent: 17%;
    }

.a-t-p, .s-p, .e-p {
    line-height: 2;
    font-size: 16px;
}

.title {
        display: flex;
        justify-content: center;
    }
      
.title-below {
        display: flex;
        justify-content: center;
    }
      
.title-2 {
        display: flex;
        justify-content: center;
    }
      
.title-2-p {
        display: flex;
        justify-content: center;
    }
      
.title-3 {
        display: flex;
        justify-content: center;
    }
      
.title-3-p {
        display: flex;
        justify-content: center;
    }
.auto-tech {
        display: flex;
        justify-content: center;
        text-indent: 2px;
    }
.brain {
        font-size: 25px;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 33%;
        left: 45%;
    }
      
.brain-p {
        font-size: 20px;
        position: absolute;
        width: 40%;
        height: 30%;
        display: flex;
        justify-content: center;
        top: 40%;
        left: 43%;
    }

.memory-tapes {
        font-size: 25px;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 73%;
        left: 45%;
    }
.memory-p {
        font-size: 20px;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 80%;
        left: 43%;
        width: 40%;
    }

.memory-p-2 {
    font-size: 20px;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 87%;
        left: 43%;
        width: 40%;
}

.self {
        font-size: 25px;
        position: absolute;
        display: flex;
        justify-content: center;
        left: 45%;
        top: 112%;
    }
      
.self-p {
        font-size: 20px;
        position: absolute;
        display: flex;
        justify-content: center;
        left: 43%;
        top: 118%;
        width: 40%;
    }
.self-p-2 {
        font-size: 20px;
        position: absolute;
        display: flex;
        justify-content: center;
        left: 28%;
        top: 125%;
        width: 40%;
    }

.automated-convenience {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 149%;
        left: 40%;
    }
    
.automated-cleaning {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 365%;
        left: 40%;
    }

.clock {
        font-size: 25px;
        position: absolute;
        left: 13%;
        top: 190%;
    }
    
.clock-p {
        font-size: 20px;
        position: absolute;
        left: 11%;
        top: 194%;
        width: 20%;
    }

.alarm {
        font-size: 25px;
        position: absolute;
        top: 190%;
        left: 40.6%;
    }
.alarm-p {
        font-size: 20px;
        position: absolute;
        left: 38%;
        top: 194%;
        width: 20%;
    }

.stove {
        font-size: 25px;
        position: absolute;
        top: 190%;
        left: 75%;
    }
.stove-p {
        font-size: 20px;
        position: absolute;
        left: 74%;
        top: 194%;
        width: 20%;
    }

.box {
        font-size: 25px;
        position: absolute;
        left: 13%;
        top: 258%;
    }
.box-p {
        font-size: 20px;
        position: absolute;
        left: 11%;
        top: 264%;
        width: 20%;
    }

.doors {
        font-size: 25px;
        position: absolute;
        top: 258%;
        left: 43%;
    }
.doors-p {
    font-size: 20px;
    position: absolute;
    left: 41%;
    top: 264%;
    width: 20%;
    }

.table {
        font-size: 25px;
        position: absolute;
        top: 258%;
        left: 76%;
    }
.table-p {
        font-size: 20px;
        position: absolute;
        left: 74%;
        top: 264%;
        width: 20%;
    }

.beds {
        font-size: 25px;
        position: absolute;
        left: 13%;
        top: 329%;
    }
.beds-p {
        font-size: 20px;
        position: absolute;
        left: 11%;
        top: 336%;
        width: 20%;
    }

.baths {
        font-size: 25px;
        font-size: 25px;
        position: absolute;
        top: 329%;
        left: 43%;
    }
.baths-p {
        font-size: 20px;
        position: absolute;
        left: 40%;
        top: 336%;
        width: 20%;
    }

.sprink {
        font-size: 25px;
        position: absolute;
        top: 329%;
        left: 76%;
    }
.sprink-p {
        font-size: 20px;
        position: absolute;
        left: 74%;
        top: 336%;
        width: 20%;
    }

.dish {
        font-size: 25px;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 377%;
        left: 45%;
    }
.dish-p {
        font-size: 20px;
        position: absolute;
        width: 40%;
        height: 30%;
        display: flex;
        justify-content: center;
        top: 389%;
        left: 43%;
    }
      
.mice {
        font-size: 25px;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 412%;
        left: 45%;
    }
.mice-p {
    font-size: 20px;
    position: absolute;
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: center;
    top: 420%;
    left: 43%;
    }

.incen {
    font-size: 25px;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 447%;
    left: 45%;
    }
      
.incen-p {
    font-size: 20px;
    position: absolute;
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: center;
    top: 452%;
    left: 43%;
    }
      
.rat {
    font-size: 25px;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 482%;
    left: 45%;
    }
.rat-p {
    font-size: 20px;
    position: absolute;
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: center;
    top: 490%;
    left: 43%;
    }
      
.fire-alarm {
        font-size: 30px;
        position: absolute;
        left: 70%;
        top: 30%;
    }

    .water-rats {
      font-size: 30px;
      position: absolute;
      left: 70%;
      top: 140%;
  }

.snakes {
    font-size: 30px;
    position: absolute;
    left: 60%;
    top: 250%;
}

.fire-alarm-p {
        font-size: 20px;
        position: absolute;
        left: 54%;
        top: 40%;
        width: 45%;
    }
      
.water {
        font-size: 30px;
        position: absolute;
        left: 10%;
        top: 90%;
    }

.robot {
      font-size: 30px;
      position: absolute;
      left: 10%;
      top: 190%;
  }

.water-p {
        font-size: 20px;
        position: absolute;
        left: 3%;
        top: 99%;
        width: 45%;
    }
      
.water-rats-p {
        font-size: 20px;
        position: absolute;
        left: 54%;
        top: 150%;
        width: 45%;
    }
.robot-p {
        font-size: 20px;
        position: absolute;
        left: 3%;
        top: 200%;
        width: 45%;
    }

.snakes-p {
        font-size: 20px;
        position: absolute;
        left: 54%;
        top: 260%;
        width: 45%;
    }
      
.fireplace {
        font-size: 25px;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 33%;
        left: 45%;
    }
.fireplace-p {
        font-size: 20px;
        position: absolute;
        width: 40%;
        height: 30%;
        display: flex;
        justify-content: center;
        top: 40%;
        left: 43%;
    }
      
.poem {
        font-size: 25px;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 73%;
        left: 45%;
    }
.poem-p {
        font-size: 20px;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 80%;
        left: 43%;
        width: 40%;
    }
      
.music {
        font-size: 25px;
        position: absolute;
        display: flex;
        justify-content: center;
        left: 45%;
        top: 112%;
    }
.music-p {
        font-size: 20px;
        position: absolute;
        display: flex;
        justify-content: center;
        left: 43%;
        top: 118%;
        width: 40%;
    }
      
.chairs {
        font-size: 25px;
        position: absolute;
        display: flex;
        justify-content: center;
        left: 45%;
        top: 152%;
    }
.chairs-p {
        font-size: 20px;
        position: absolute;
        display: flex;
        justify-content: center;
        left: 43%;
        top: 158%;
        width: 40%;
    }
      
.glass {
        font-size: 30px;
        position: absolute;
        left: 70%;
        top: 220%;
    }
.glass-p {
    font-size: 20px;
    position: absolute;
    left: 54%;
    width: 45%; 
    top: 230%;
    }
      
.media {
        font-size: 30px;
        position: absolute;
        left: 10%;
        top: 270%;
    }
.media-p {
        font-size: 20px;
        position: absolute;
        left: 3%;
        top: 280%;
        width: 45%;
    }

.safety-p {
    display: flex;
    justify-content: center;
}

.addins {
    display: flex;
    justify-content: center;
}

.addins-n {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 190%;
    left: 40%;
}

.rectangle-1 {
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  height: 5%;
  width: 70%;
  z-index: -1;
  position: absolute;
  left: 15%;
  }

.rectangle-2 {
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  height: 5%;
  width: 70%;
  z-index: -1;
  position: absolute;
  top: 125%;
  left: 15%;
  display: flex;
  justify-content: center;
}
        
.rectangle-3 {
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  height: 5%;
  width: 70%;
  z-index: -1;
  position: absolute;
  top: 128%;
  left: 15%;
  display: flex;
  justify-content: center;
        }

.rectangle-4 {
    background-color: #cadde3;
    border-style: solid;
    border-color: #9fb5bc;
    z-index: -2;
    position: absolute;
    width: 80%;
    height: 30%;
    top: 30%;
    left: 10%;
    display: flex;
    justify-content: center;
  }

.img-brain { 
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: -1;
    width: 30%;
    height: 31%;
    }

.rectangle-5 {
    background-color: #cadde3;
    border-style: solid;
    border-color: #9fb5bc;
    z-index: -2;
    position: absolute;
    width: 80%;
    height: 30%;
    top: 70%;
    left: 10%;
    display: flex;
    justify-content: center;
    }

.img-memory {
    position: absolute;
    top: 70%;
    left: 10%;
    z-index: -1;
    width: 30%;
    height: 31%;
    }

.rectangle-6 {
        background-color: #cadde3;
        border-style: solid;
        border-color: #9fb5bc;
        z-index: -2;
        position: absolute;
        width: 80%;
        height: 30%;
        top: 110%;
        left: 10%;
        display: flex;
        justify-content: center;
    }

.img-self {
    position: absolute;
    top: 110%;
    left: 10%;
    z-index: -1;
    width: 30%;
    height: 31%;
    }

.rectangle-7 {
        background-color: #cadde3;
        border-style: solid;
        border-color: #9fb5bc;
        z-index: -2;
        width: 26.6%;
        height: 60%;
        position: absolute;
        top: 160%;
        left: 5%;
    }

.img-clock {
        position: absolute;
        top: 163%;
        left: 7%;
        z-index: -1;
        width: 22.6%;
        height: 25%;
    }

.rectangle-8 {
        background-color: #cadde3;
        border-style: solid;
        border-color: #9fb5bc;
        z-index: -2;
        position: absolute;
        top: 160%;
        left: 36.6%;
        width: 26.6%;
        height: 60%;
    }

.img-alarm {
        position: absolute;
        top: 163%;
        left: 38.6%;
        z-index: -1;
        width: 22.6%;
        height: 25%;
      }

.rectangle-9 {
        background-color: #cadde3;
        border-style: solid;
        border-color: #9fb5bc;
        z-index: -2;
        position: absolute;
        top: 160%;
        left: 68.2%;
        width: 26.6%;
        height: 60%;
    }

.img-stove {
        position: absolute;
        top: 163%;
        left: 70.2%;
        z-index: -1;
        width: 22.6%;
        height: 25%;
    }

.rectangle-10 {
        background-color: #cadde3;
        border-style: solid;
        border-color: #9fb5bc;
        z-index: -2;
        position: absolute;
        width: 26.6%;
        height: 60%;
        top: 230%;
        left: 5%;
    }

.img-weather {
        position: absolute;
        top: 233%;
        left: 7%;
        z-index: -1;
        width: 22.6%;
        height: 25%;
    }

.rectangle-11 {
        background-color: #cadde3;
        border-style: solid;
        border-color: #9fb5bc;
        z-index: -2;
        position: absolute;
        top: 230%;
        left: 36.6%;
        width: 26.6%;
        height: 60%;
    }

    .img-doors {
        position: absolute;
        top: 233%;
        left: 38.6%;
        z-index: -1;
        width: 22.6%;
        height: 25%;
      }

.rectangle-12 {
        background-color: #cadde3;
        border-style: solid;
        border-color: #9fb5bc;
        z-index: -2;
        position: absolute;
        top: 230%;
        left: 68.2%;
        width: 26.6%;
        height: 60%;
    }

    .img-table {
        position: absolute;
        top: 233%;
        left: 70.2%;
        z-index: -1;
        width: 22.6%;
        height: 25%;
      }

.rectangle-13 {
        background-color: #cadde3;
        border-style: solid;
        border-color: #9fb5bc;
        z-index: -2;
        position: absolute;
        width: 26.6%;
        height: 60%;
        top: 300%;
        left: 5%;
    }

    .img-bed-warmers {
        position: absolute;
        width: 22.6%;
        height: 25%;
        z-index: -1;
        top: 303%;
        left: 7%;
      }

.rectangle-14 {
        background-color: #cadde3;
        border-style: solid;
        border-color: #9fb5bc;
        z-index: -2;
        position: absolute;
        top: 300%;
        left: 36.6%;
        width: 26.6%;
        height: 60%;
    }

    .img-bath {
        position: absolute;
        top: 304%;
        left: 38.6%;
        z-index: -1;
        width: 22.6%;
        height: 25%;
      }

.rectangle-15 {
        background-color: #cadde3;
        border-style: solid;
        border-color: #9fb5bc;
        z-index: -2;
        position: absolute;
        top: 300%;
        left: 68.2%;
        width: 26.6%;
        height: 60%;
    }

    .img-sprinklers {
        position: absolute;
        top: 303%;
        left: 70.2%;
        z-index: -1;
        width: 22.6%;
        height: 25%;
      }

      .rectangle-16 {
        background-color: #cadde3;
        border-style: solid;
        border-color: #9fb5bc;
        z-index: -2;
        position: absolute;
        height: 30%;
        width: 80%;
        left: 10%;
        top: 375%;
      }

.img-dish {
    position: absolute;
    top: 375%;
    left: 10%;
    z-index: -1;
    width: 30%;
    height: 31%;
}

.rectangle-17 {
    background-color: #cadde3;
    border-style: solid;
    border-color: #9fb5bc;
    z-index: -2;
    position: absolute;
    height: 30%;
    width: 80%;
    left: 10%;
    top: 410%;
}

.img-mice {
    position: absolute;
    top: 410%;
    left: 10%;
    z-index: -1;
    width: 30%;
    height: 31%;
}

.rectangle-18 {
    background-color: #cadde3;
    border-style: solid;
    border-color: #9fb5bc;
    z-index: -2;
    position: absolute;
    height: 30%;
    width: 80%;
    left: 10%;
    top: 445%;
}

.img-incen {
    position: absolute;
    top: 445%;
    left: 10%;
    z-index: -1;
    width: 30%;
    height: 31%;
}

.rectangle-19 {
    background-color: #cadde3;
    border-style: solid;
    border-color: #9fb5bc;
    z-index: -2;
    position: absolute;
    height: 30%;
    width: 80%;
    left: 10%;
    top: 480%;
}

.img-rat {
    position: absolute;
    top: 480%;
    left: 10%;
    z-index: -1;
    width: 30%;
    height: 31%;
}

.rectangle-20 {
    background-color: #cadde3;
    border-style: solid;
    border-color: #9fb5bc;
    z-index: -2;
    position: absolute;
    width: 80%;
    height: 30%;
    top: 30%;
    left: 10%;
    display: flex;
    justify-content: center;
}

.img-fireplace {
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: -1;
    width: 30%;
    height: 31%;
}

.rectangle-21 {
    background-color: #cadde3;
    border-style: solid;
    border-color: #9fb5bc;
    z-index: -2;
    position: absolute;
    width: 80%;
    height: 30%;
    top: 70%;
    left: 10%;
    display: flex;
    justify-content: center;
}

.img-poem {
    position: absolute;
    top: 70%;
    left: 10%;
    z-index: -1;
    width: 30%;
    height: 31%;
}

.rectangle-22 {
    background-color: #cadde3;
    border-style: solid;
    border-color: #9fb5bc;
    z-index: -2;
    position: absolute;
    width: 80%;
    height: 30%;
    top: 110%;
    left: 10%;
    display: flex;
    justify-content: center;
}

.img-music {
    position: absolute;
    top: 110%;
    left: 10%;
    z-index: -1;
    width: 30%;
    height: 31%;
}

.rectangle-23 {
    background-color: #cadde3;
    border-style: solid;
    border-color: #9fb5bc;
    z-index: -2;
    position: absolute;
    width: 80%;
    height: 30%;
    top: 150%;
    left: 10%;
    display: flex;
    justify-content: center;
}

.img-fire-alarm, .img-water-rats, .img-snakes {
    width: 50%;
    height: 25%;
}

.img-water, .img-robot {
    transform: translate(100%);    
    width: 50%;
    height: 25%;
}

.img-glass {
    width: 50%;
    display: flex;
    position: absolute;
    top: 210%;
    left: 0%;
    height: 50%;
}

.img-media {
    transform: translate(100%);    
    width: 50%;
    position: absolute;
    top: 260%;
    height: 50%;
}

.img-chairs {
    position: absolute;
    left: 10%;
    top: 150%;
    z-index: -1;
    height: 31%;
    width: 30%;
}