body {
  margin: 3px;
  background-color: #f8f4e6;
}

main {
  margin-left: 50px;
  margin-right: 50px;
}

.navbar ul {
  list-style-type: none;
  background-color: #dec7c5;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  border-style: solid;
  border-color: #ab8885;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: white;
  padding: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-content: center;
}

.navbar a:hover {
  background-color: #c6afad;
}

.navbar li {
  float: left;
}

.footer-container {
  background-color: #ab8885;
  padding-bottom: 4rem;
  border-style: solid;
  border-color: #8d6562;
}

.footer {
  background-color: #ab8885;
  width: 80%;
  height: 40vh;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading-1 {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.footer-heading-3 {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-30%);
}

.rect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-10%);
  width: 60%;
  height: 60%;
}

.search {
  position: absolute;
  top: 0.1%;
  left: 50%;
  transform: translate(-50%,-350%);
}

.img {
  width: 100%;
}

.rectangle-1 {
  height: 70px;
  width: 2015px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
}

.rectangle-2 {
  height: 70px;
  width: 2015px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  top: 100%;
  transform: translate(0%,70%);
}

.rectangle-3 {
  height: 70px;
  width: 2015px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  top: 100%;
  transform: translate(0%,180%);
}

.title-details {
transform: translate(22%);
}

.title {
  display: flex;
  justify-content: center;
}

.title-below {
  display: flex;
  justify-content: center;
}

.auto-tech {
  display: flex;
  justify-content: center;
}

.rectangle-4 {
  height: 395px;
  width: 2015px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(0%, 10%);
}

.brain {
  transform: translate(45%, 250%);
  font-size: 30px;
}

.brain-p {
  transform: translate(43%, -1200%);
  font-size: 25px;
}

.img-brain {
  transform: translate(0%, -8.5%);
}

.rectangle-5 {
  height: 395px;
  width: 2015px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(0%, 149.5%);
}

.memory-tapes {
  transform: translate(45%, 250%);
  font-size: 30px;
}

.memory-p {
  transform: translate(43%, -1200%);
  font-size: 25px;
}

.memory-p-2 {
  transform: translate(43%, -1200%);
  font-size: 25px;
}

.img-memory {
  transform: translate(0%, -7%);
}

.rectangle-6 {
  height: 395px;
  width: 2015px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(0%, 290%);
}

.self {
  transform: translate(45%, 250%);
  font-size: 30px;
}

.self-p {
  transform: translate(43%, -1200%);
  font-size: 25px;
}

.img-self {
  transform: translate(0%, -18.5%);
}

.self-p-2 {
  transform: translate(43%, -1200%);
  font-size: 25px;
}

.automated-convenience {
  display: flex;
  justify-content: center;
}

.automated-cleaning {
  display: flex;
  justify-content: center;
  transform: translate(0%, 900%);
}

.rectangle-7 {
  height: 700px;
  width: 600px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(5%, 10%);
}

.rectangle-8 {
  height: 700px;
  width: 600px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(117%, 10%);
}

.rectangle-9 {
  height: 700px;
  width: 600px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(229%, 10%);
}

.rectangle-10 {
  height: 700px;
  width: 600px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(5%, 120%);
}

.rectangle-11 {
  height: 700px;
  width: 600px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(117%, 120%);
}

.rectangle-12 {
  height: 700px;
  width: 600px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(229%, 120%);
}

.rectangle-13 {
  height: 700px;
  width: 600px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(5%, 230%);
}

.rectangle-14 {
  height: 700px;
  width: 600px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(117%, 230%);
}

.rectangle-15 {
  height: 700px;
  width: 600px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(229%, 230%);
}

.img-clock {
  position: absolute;
  transform: translate(15%, 15%);
}

.clock {
  font-size: 30px;
  transform: translate(12%, 1550%);
}

.clock-p, .clock-p-2, .clock-p-3 {
  transform: translate(3%, 1750%);
  font-size: 25px;
}

.img-alarm {
  position: absolute;
  transform: translate(152%, -42.8%);
}

.alarm {
  font-size: 30px;
  transform: translate(36.5%, 880%);
}

.alarm-p, .alarm-p-2, .alarm-p-3 {
  transform: translate(36.5%, 950%);
  font-size: 25px;
}

.img-stove {
  position: absolute;
  transform: translate(287.5%, -100%);
}

.stove {
  font-size: 30px;
  transform: translate(79%, 210%);
}

.stove-p, .stove-p-2, .stove-p-3 {
  font-size: 25px;
  transform: translate(70.5%, 149%);
}

.img-weather {
  position: absolute;
  transform: translate(15%, 35%);
}

.box {
  font-size: 30px;
  transform: translate(12%, 1790%);
}

.box-p, .box-p-2, .box-p-3 {
  transform: translate(3%, 2030%);
  font-size: 25px;
}

.img-doors {
  position: absolute;
  transform: translate(152%, -23%);
}

.doors {
  font-size: 30px;
  transform: translate(46%, 1145%);
}

.doors-p, .doors-p-2, .doors-p-3 {
  transform: translate(36.5%, 1250%);
  font-size: 25px;
}

.img-table {
  position: absolute;
  transform: translate(287.5%, -80%);
}

.table {
  font-size: 30px;
  transform: translate(79%, 470%);
}

.table-p, .table-p-2, .table-p-3 {
  font-size: 25px;
  transform: translate(70.5%, 470%);
}

.img-bed-warmers {
  position: absolute;
  transform: translate(15%, 55%);
}

.beds {
  font-size: 30px;
  transform: translate(12%, 2020%);
}

.beds-p, .beds-p-2, .beds-p-3 {
  transform: translate(3%, 2350%);
  font-size: 25px;
}

.img-bath {
  position: absolute;
  transform: translate(152%, -4%);
}

.baths {
  font-size: 30px;
  transform: translate(48%, 1330%);
}

.baths-p, .baths-p-2, .baths-p-3 {
  transform: translate(36.5%, 1480%);
  font-size: 25px;
}

.img-sprinklers {
  position: absolute;
  transform: translate(287.5%, -62%);
}

.sprink {
  font-size: 30px;
  transform: translate(79%, 660%);
}

.sprink-p, .sprink-p-2, .sprink-p-3 {
  font-size: 25px;
  transform: translate(70.5%, 700%);
}

.img-dish, .img-mice, .img-incen, .img-rat {
  transform: translate(0%, 90%);
}

.rectangle-16 {
  height: 395px;
  width: 2015px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(0%, 108%);
}

.rectangle-17 {
  height: 395px;
  width: 2015px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(0%, 252%);
}

.rectangle-18 {
  height: 395px;
  width: 2015px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(0%, 392%);
}

.rectangle-19 {
  height: 395px;
  width: 2015px;
  background-color: #cadde3;
  border-style: solid;
  border-color: #9fb5bc;
  z-index: -1;
  position: absolute;
  transform: translate(0%, 492%);
}

.dish {
  font-size: 30px;
  transform: translate(43%, 1280%);
}

.dish-p, .dish-p-2 {
  font-size: 25px;
  transform: translate(40%, 100%);
}